flows.json
[{"id":"eecd5319.7f2c4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b810d26d.7a76","type":"ibmiot in","z":"eecd5319.7f2c4","authentication":"apiKey","apiKey":"c7b570d2.c82cc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"DHT11","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":260,"wires":[["85e637e0.cd8a58","9c6822c4.3054c","b8368b53.793e08","b62dfef9.df46d","6182634b.9b282c"]]},{"id":"88e903f1.0c3c3","type":"inject","z":"eecd5319.7f2c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sambhunath","payloadType":"str","x":220,"y":80,"wires":[["85e637e0.cd8a58"]]},{"id":"85e637e0.cd8a58","type":"debug","z":"eecd5319.7f2c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"9c6822c4.3054c","type":"function","z":"eecd5319.7f2c4","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":240,"wires":[["85e637e0.cd8a58","d07b741d.f4d548"]]},{"id":"b8368b53.793e08","type":"function","z":"eecd5319.7f2c4","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":300,"wires":[["85e637e0.cd8a58","8e8b737.5e5669"]]},{"id":"b62dfef9.df46d","type":"function","z":"eecd5319.7f2c4","name":"Vibration","func":"global.set('vibration',msg.payload.Vibration)\nmsg.payload=msg.payload.Vibration;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["85e637e0.cd8a58","2e4836f2.41ff1a"]]},{"id":"6182634b.9b282c","type":"function","z":"eecd5319.7f2c4","name":"Current","func":"global.set('current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["85e637e0.cd8a58","82314f49.a18a5"]]},{"id":"d07b741d.f4d548","type":"ui_gauge","z":"eecd5319.7f2c4","name":"","group":"eaab7cd4.332f9","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#2ab72a","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":240,"wires":[]},{"id":"8e8b737.5e5669","type":"ui_gauge","z":"eecd5319.7f2c4","name":"","group":"eaab7cd4.332f9","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"Percentage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":300,"wires":[]},{"id":"2e4836f2.41ff1a","type":"ui_gauge","z":"eecd5319.7f2c4","name":"","group":"eaab7cd4.332f9","order":3,"width":0,"height":0,"gtype":"gage","title":"Vibration","label":"HZ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#d43a3a"],"seg1":"","seg2":"","x":700,"y":340,"wires":[]},{"id":"82314f49.a18a5","type":"ui_gauge","z":"eecd5319.7f2c4","name":"","group":"eaab7cd4.332f9","order":4,"width":0,"height":0,"gtype":"gage","title":"Current","label":"Amper","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":380,"wires":[]},{"id":"e958afd3.5ef48","type":"ui_button","z":"eecd5319.7f2c4","name":"","group":"eaab7cd4.332f9","order":5,"width":0,"height":0,"passthru":false,"label":"switch on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"switch on\"}","payloadType":"json","topic":"","x":280,"y":540,"wires":[["6ad1023f.99e82c"]]},{"id":"13ca532a.d1523d","type":"ui_button","z":"eecd5319.7f2c4","name":"","group":"eaab7cd4.332f9","order":6,"width":0,"height":0,"passthru":false,"label":"switch off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"switch off\"}","payloadType":"json","topic":"","x":280,"y":580,"wires":[["6ad1023f.99e82c"]]},{"id":"6ad1023f.99e82c","type":"ibmiot out","z":"eecd5319.7f2c4","authentication":"apiKey","apiKey":"c7b570d2.c82cc","outputType":"cmd","deviceId":"123456","deviceType":"DHT11","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":540,"y":560,"wires":[]},{"id":"76186cbf.463544","type":"http in","z":"eecd5319.7f2c4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":260,"y":640,"wires":[["a8dacdc7.c18c7"]]},{"id":"3d77b762.6f7d38","type":"http response","z":"eecd5319.7f2c4","name":"","statusCode":"","headers":{},"x":630,"y":640,"wires":[]},{"id":"a8dacdc7.c18c7","type":"function","z":"eecd5319.7f2c4","name":"data","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\"),'vibration':global.get(\"vibration\"),'current':global.get(\"current\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":640,"wires":[["3d77b762.6f7d38"]]},{"id":"f72c1826.595cc8","type":"function","z":"eecd5319.7f2c4","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":460,"wires":[["4ded4375.e6a09c","cf8c2518.ce4e78"]]},{"id":"3dd6cfcd.df6ac","type":"http in","z":"eecd5319.7f2c4","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":280,"y":460,"wires":[["f72c1826.595cc8"]]},{"id":"4ded4375.e6a09c","type":"http response","z":"eecd5319.7f2c4","name":"","statusCode":"","headers":{},"x":670,"y":460,"wires":[]},{"id":"cf8c2518.ce4e78","type":"debug","z":"eecd5319.7f2c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":500,"wires":[]},{"id":"c7b570d2.c82cc","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"eaab7cd4.332f9","type":"ui_group","z":"","name":"Default","tab":"67201c0b.09e684","order":1,"disp":true,"width":"6","collapse":false},{"id":"67201c0b.09e684","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]